.commit {
    display: flex;
    flex-direction: column;
    width: 21.5vw;
    height: 50vh;
    font-size: 1rem;

    background-color: #25282b;
    padding: 0 1rem;
    border: 1px solid #7c858e;
    border-radius: .5rem;
}

.commit h2 {
    border-bottom: 1px solid #7c858e;
    margin-bottom: .25rem;
    font-size: 1.25rem;
}

.commit .sub-title {
    font-size: .9rem;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.commit .sub-title strong {
    color: #61dafb;
    transition: .15s ease-in;
    text-decoration: none;
}

.commit h4 {
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
}

.commit h4 span {
    color: #399fbb;
}

.file-list {
    background-color: #16171baa;
    border-radius: .5rem;
    padding: .25rem;
    height: 7rem;
    overflow-y: auto;
}