
.stats {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.stats div {
    border: 1px solid #7c858e;
    font-size: .9rem;
    padding: .25rem;
    text-align: center;
}

.stats .added {
    background-color: #195312;
    border-radius: .5rem 0 0 .5rem;
}

.stats .modified {
    background-color: #926b23;
}

.stats .renamed {
    background-color: #351a61;
}

.stats .copied {
    background-color: #460f29;
}

.stats .changed {
    background-color: #575757;
}

.stats .unchanged {
    background-color: #3a3a3a;
}

.stats .removed {
    background-color: #682219;
    border-radius: 0 .5rem .5rem 0;
}